<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form #formAutos="ngForm" (ngSubmit)="onSubmit(formAutos)">
        <div class="form-group">
            <label for="marca">Marca</label>
            <input type="text" class="form-control" id="marca" placeholder="Agregar marca" [(ngModel)]="auto.marca"
                required minlength="4" name="marca" #marca="ngModel">

            <div *ngIf="marca.invalid && (marca.dirty || marca.touched)" class="alert">
                <div *ngIf="marca.errors.minlength" class="alert alert-danger">La marca debe de tener un mínimo de 4
                    caracteres.</div>
                <div *ngIf="marca.errors.required" class="alert alert-danger">La marca es requerida.</div>
            </div>

            <div class="form-group">
                <label for="submarca">Submarca</label>
                <input type="text" class="form-control" id="submarca" placeholder="Agregar submarca"
                    [(ngModel)]="auto.submarca" required minlength="4" name="submarca" #submarca="ngModel">
            </div>

            <div *ngIf="submarca.invalid && (submarca.dirty || submarca.touched)" class="alert">
                <div *ngIf="submarca.errors.minlength" class="alert alert-danger">La submarca debe de tener un mínimo de
                    4
                    caracteres.</div>
                <div *ngIf="submarca.errors.required" class="alert alert-danger">La submarca es requerida.</div>
                <div *ngIf="submarca.errors.rangoModelos" class="alert alert-danger">La submarca es requerida.</div>
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Agregar descripcion"
                    [(ngModel)]="auto.descripcion" name="descripcion">
            </div>

            <!--- Pendiente-->
            <label for="modelos">Modelos</label>
            <div class="form-row">
                <div class="form-group">
                    <label for="desde">Desde</label>
                    <input type="range" min="2000" max="2020" class="form-control-range" id="desde" placeholder="desde"
                        [(ngModel)]="desde" name="desde">
                    <span>{{desde}}</span>
                </div>
                <div class="form-group">
                    <label for="hasta">Hasta</label>
                    <input type="range" min="2000" max="2020" class="form-control-range" id="hasta"
                        placeholder="hasta" [(ngModel)]="hasta" name="hasta">
                    <span>{{hasta}}</span>
                </div>
               <!---  Revisar
                <div class="alert">
                    <div *ngIf="desde.errors.forbiddenModels" class="alert alert-danger">El rango no es permitido.</div>
                </div>
                --> 
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-info" [disabled]="!formAutos.form.valid">Guardar</button>
            </div>
        </div>
    </form>
</div>